body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Maplestory Bold';
  height: 100vh;
  width: 100vw;
  background-color: #ddd;
  user-select: none;
}

a {
  text-decoration: underline;
  color: #00BD7E;
  transition: 0.4s;
  font-size: 20px;
}