body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Maplestory Bold';
  height: 100vh;
  width: 100vw;
  user-select: none;
}

a {
  text-decoration: underline;
  color: var(--primary-green);
  transition: 0.4s;
  font-size: 20px;
}

h1 {
  color: white;
  text-shadow: 0 0 10px #000;
}

:root {
  --primary-green: #00BD7E;
  --primary-blue: #00A1FF;
  --primary-red: #FF0000;
}

.white-shadow {
  color: white;
  text-shadow: 0 0 10px #000;
}